<h2>Detalle de la película {{model.title}}</h2>

<div>
  <img src={{model.url}} alt="{{model.title}}" height="600" width="600">
</div>

<div class="info_pelicula_ancho">
  <div class="center"><b>Director</b> {{model.director}}</div>
  <div class="center"><b>Año</b> {{model.year}}</div>
  <div class="center"><b>Género</b> {{model.genre}}</div>
  <div class="center"><b>¿Es una película apta para todos los públicos?</b> {{peliculaApta}}</div>
  <div class="center"><b>Descripción</b> {{model.description}}</div>
</div>

<button {{action 'volver'}}>Volver</button>